@import "mymix";
@import "fonts";
@import "bxslider";
//**********************************************************/
//**********************************************************/
//@font-face {
//    font-family: 'open_sanslight';
//    src: url('../font/opensanslight.eot');
//    src: url('../font/opensanslight.eot?#iefix') format('embedded-opentype'),
//         url('../font/opensanslight.woff2') format('woff2'),
//         url('../font/opensanslight.woff') format('woff'),
//         url('../font/opensanslight.ttf') format('truetype'),
//         url('../font/opensanslight.svg#open_sanslight') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}
html, body{
  height: 100%;
}

body{
  //background: url('../image/bac.jpg') #523322 no-repeat;
  //background-size: 100%;
  //font-family: frank, sans-serif;
  //font-family: 'FRABK', sans-serif;
  //font-size: 17px;
  //color: #523322;
  //line-height: 1.2;
  background-color: #efefef;
  //font-family: 'europe-reg', sans-serif;
  font-family: 'europe', sans-serif;
  color: #857a71;
  font-size: 14px;
  line-height: 1.6;
}
a{
  
}
a:focus {
  outline: none;
}
ul:focus {
  outline: none;
}
li:focus {
  outline: none;
}
input:focus {
  outline: none;
}
p{
  
}
b, strong{
  font-weight: bold;
}
img{
  
}
h2{
  
}
//**********************************************************/
//**********************************************************/
@import "inner";
@import "main";
@import "menu";
@import "content";
@import "slider";
@import "contacts";
@import "info";
@import "catalog";
@import "project";
@import "blog";
@import "blogtext";
@import "messages";
@import "wf";